[DEFAULT]
user=ocid1.user.oc1..exampleuniqueid
fingerprint=00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00
tenancy=ocid1.tenancy.oc1..exampleuniqueid
region=us-ashburn-1
key_file=/oci/config/oci_api_key.pem
